{% extends 'common/base.html' %}

{% block content %}
    <div class="container">
        <script type="text/javascript">
        $(document).ready(function(){

            /* 등록 버튼 */
            $('#signUp').click(function(){
                alert("등록버튼");

                /* validate  st */
                if( isNullChk("inputId") ) return false;
                if( isNullChk("inputPw") ) return false;
                if( isNullChk("inputCheckPw") ) return false;
                if( isNullChk("inputName") ) return false;
                if( isNullChk("inputAreaNo") ) return false;

                /* validate  ed */

                $('#formDiv').ajaxCall({
                    method : 'POST',
                    url : '/emp/insert_signUp_ajax/post',               /*  urls.py  에 정의되어있음. */
                    callbackFn : function(data){
                        var html = '';
                        html += '<dl class="row">';
                        html += '<dt class="col-sm-3">Status</dt>';
                        html += '<dd class="col-sm-9">' + data.status + '</dd>';
                        html += '<dt class="col-sm-3">Msg</dt>';
                        html += '<dd class="col-sm-9">' + data.msg + '</dd>';
                        html += '</dl>';

                        $('#ajaxResult').html(html);
                    }
                });
            });
        });

        function fncNm(name,value){
            $("input[type=checkbox][name="+name+"]").prop("checked",false);
            $("input[name=chk][value="+value+"]").prop("checked",true);
        }

        /**
        * 문자열이 빈 문자열인지 체크하여 결과값을 리턴한다.
        * @param str       : 체크할 문자열
        */
        function isEmpty(str){
            if(typeof str == "undefined" || str == null || str == "")
                return true;
            else
                return false;
        }

        function isNullChk( objId ) {
            var objVal = document.getElementById( objId ).value;
            if( typeof objVal == "undefined" || objVal == null || objVal == "" ){
                 alert($("label[for="+objId+"]").text()+"을(를) 입력하세요.");
                 document.getElementById( objId ).focus();
                 return true;
            }else{
                return false;
            }
        }

    </script>
        <div class="row">
            <div class="col-sm-12">
                <center>
                    <div class="alert alert-info" role="alert" style="padding:20 0 0 0">
                        <h3>
                            <b>회원가입</b>
                        </h3>
                    </div>
                </center>
                <div class="alert alert-info" role="alert">
                    <div id="formDiv">
                         {% csrf_token %}
                        <div class="form-group">
                            <label for="inputId">아이디</label>
                            <input type="text" class="form-control" id="inputId" name="id" placeholder="@infogen.co.kr" maxlength="70">
                        </div>
                        <div class="form-group">
                            <label for="inputPw">비밀번호</label>
                            <input type="password" class="form-control" id="inputPw" name="pw" maxlength="20">
                        </div>
                        <div class="form-group">
                            <label for="inputCheckPw">비밀번호 재확인</label>
                            <input type="password" class="form-control" id="inputCheckPw" name="checkPw" maxlength="20">
                        </div>
                        <div class="form-group">
                            <label for="inputName">이름</label>
                            <input type="text" class="form-control" id="inputName" placeholder="홍길동" name="name" maxlength="20">
                        </div>
                        <div class="form-row">
                            <div class="form-group col-md-2">
                                <label for="inputAreaNo">연락처</label>
                                <select id="inputAreaNo" class="form-control" name="areaNo">
                                    <option selected>없음</option>
                                    <option value="1">02</option>
                                    <option value="2">031</option>
                                    <option value="2">032</option>
                                </select>
                            </div>
                            <div class="form-group col-md-2">
                                <label for="inputMdlNo">　</label>
                                <input type="text" class="form-control" id="inputMdlNo" name="mdlNo" maxlength="5">
                            </div>
                            <div class="form-group col-md-2">
                                <label for="inputLastNo">　</label>
                                <input type="text" class="form-control" id="inputLastNo" name="lastNo" maxlength="5">
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="form-group col-md-2">
                                <label for="inputStartZipNo">우편번호</label>
                                <input type="text" class="form-control" id="inputStartZipNo" name="startZipNo" maxlength="5">
                            </div>
                            <div class="form-group col-md-2">
                                <label for="inputEndZipNo">　</label>
                                <input type="text" class="form-control" id="inputEndZipNo" name="endZipNo" maxlength="5">
                            </div>
                            <div class="form-group col-md-2">
                                <label for="openAddrApi">　</label>
                                <button class="btn btn-primary form-control" id="openAddrApi">우편번호검색</button>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="inputBaseAddr">기본주소</label>
                            <input type="text" class="form-control" id="inputBaseAddr" name="baseAddr" maxlength="100">
                        </div>
                        <div class="form-group">
                            <label for="inputDetlAddr">상세주소</label>
                            <input type="text" class="form-control" id="inputDetlAddr" name="detlAddr" maxlength="100">
                        </div>
                    </div>
                </div>

                <div>
                    <center>
                        <button class="btn btn-primary center" id="signUp">회원가입</button>
                        <button class="btn btn-primary center" id="cncl">가입취소</button>
                    </center>
                </div>



            </div>
            <div id="ajaxResult" style="margin-top:50px;">

            </div>
        </div>
    </div>

{% endblock %}