{% extends 'common/base.html' %}

{% block content %}
    <div class="container">
        <script type="text/javascript">
        function goHome() {

        }
    </script>
        <div class="row">
            <div class="col-sm-12">
                <center>
                    <div class="alert" role="alert" style="padding:20 0 0 0">
                        <h3>
                            <b>회원가입 성공</b>
                        </h3>
                    </div>
                </center>
            </div>
        </div>
    </div>

{% endblock %}